
.addForm{
  max-width: 40%;
  .checkDiv{
    min-width: 40%;
  }
}
.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.fields{
  width: fit-content;
  display: flex;
  gap:10px;
  input{
  max-width: 75px;
}
  .isOK{
    background-color: #74a93e;
  }
  .isERR{
    background-color: #b04c3c;
  }
}